#sidebar {
  width: 350px;
  position: fixed;
  top: 0;
  left: -350px;
  height: 100vh;
  z-index: 999;
  background: #e7bff3;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(15, 14, 14, 0.2);
}
#sidebar.active {
  left: 0;
}
#dismiss {
  font-size: 30px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #e7bff3;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #e7bff3;
}


.container-fluid {
  text-align: center;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  background: url('background.jpg');
  background-repeat: no-repeat center center fixed;
  background-size: cover;
  display: block;
}

 #gallery {
  width: 75%;
  margin-left: 350px;
  /* position: fixed; */
  /* z-index: 999;
  background-color: whitesmoke; */ 
  display: none;
} 

.mainText {
  margin-right: 50%;
  padding: 150px;
  text-align: center;
  text-transform: uppercase;
} 
.mainText h1 {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  color: #5C2610;
  text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.mainText h1:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 200%;
  border-radius: 50%/30%;
  border: 6px solid #5C2610;
  border-left-color: transparent;
  border-right-color: transparent;
}
.simpleTexte {
  padding: 20px;
  text-align: center;
}

/* #gallery {
  width: 80%;
  display: none;
} */

